Django==4.2.17
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
Pillow==10.1.0
django-ckeditor==6.5.1
django-admin-interface==0.28.0
django-colorfield==0.11.0
python-decouple==3.8
gunicorn==21.2.0
whitenoise==6.6.0
django-filter==23.5
django-extensions==3.2.3
openai==1.12.0
django-environ==0.11.2
psycopg2-binary==2.9.9
